.env
public/file_ijazah
public/file_ktp
public/file_resume
public/file_skck

public/assets/file_ijazah
public/assets/file_ktp
public/assets/file_resume
public/assets/file_skck
public/assets/avatar_file